/* Login.css */
body.login-page {
    background-image: url('/images/baground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(8px);
  }
  
  .login-card {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 80px;          
    border-radius: 15px;
    width: 750px;          
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  }
  
  
  .login-card h2 {
    margin-bottom: 20px;
    color: #f08a24; /* couleur chaude type cuisine */
  }
  
  .login-card input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-card button {
    width: 100%;
    padding: 12px;
    background-color: #f08a24;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-card button:hover {
    background-color: #e07b1e;
  }
  
  .login-card p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
  }
  /* Auth.css */
body.auth-page {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(8px);
}

.auth-card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 80px;
  border-radius: 15px;
  width: 750px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #f08a24;
}

.auth-card input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background-color: #f08a24;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background-color: #e07b1e;
}

.auth-card p {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}
